.moviescardlist {
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

.moviescardlist__list {
  list-style: none;
  margin: 27px 0 auto;
  padding: 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(auto-fill, 270px);
  row-gap: 5px;
  column-gap: 20px;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 854px) {
  .moviescardlist__list {
    padding: 9px 0 142px;
    grid-template-columns: repeat(auto-fit, 344px);
    grid-template-rows: repeat(auto-fit, 277px);
    row-gap: 5px;
    column-gap: 18px;
    width: 100%;
    margin: 75px 0 auto;
}
  
}


@media screen and (max-width: 400px) {
  .moviescardlist__list {
    width: 100%;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 235px);
    gap: 43px;
    padding-top: 74px;
    padding-bottom: 170px;
  }
}